/* CSS Document */
/*分页*/
#pageGro{ width:300px; height:25px; margin:0px auto;padding-top:5px;}
#pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:3px;}
#pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer;}
#pageGro div ul li.on{ color:#fff; background:#3c90d9; border:1px solid #3c90d9;}
#pageGro .pageUp,#pageGro .pageDown,#pageGro .first,#pageGro .tail{cursor:pointer;text-align:center;height:28px;padding-top:3px;margin-right:0px;}
