<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/lyz.calendar.css" rel="stylesheet" type="text/css" />
</head>
<body>
{%extends "base.html"%}
{% block content %}
<script type="text/javascript" src="/static/js/echarts.common.min.js"></script>
<script type="text/javascript" src="http://www.jq22.com/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/lyz.calendar.min.js"></script>
<div class="panel panel-default panel-primary">
    <div class="panel-heading" style="float:left;width:100%;top:0px;"><span class="glyphicon glyphicon-th" style="font-weight:bold;">&nbsp;</span>统计预警信息</div>
	<div style="margin-top:50px;margin-bottom:10px;margin-left:10px;">
		<input id="txtBeginDate" style="width:120px;padding:3px 3px;border:1px solid #ccc;margin-right:10px;"/>~
		<input id="txtEndDate" style="width:120px;padding:3px 3px;border:1px solid #ccc;margin-right:7px;" />
		<input type="submit" name="查询" onclick="submit()">
	</div>
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#enviname" data-toggle="tab">系统环境</a></li>
		<li><a href="#warntype" data-toggle="tab">警告类别</a></li>
		<li><a href="#warnlevel" data-toggle="tab">警告等级</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="enviname" style="width:400px;height:400px;padding-top:15px;"></div>
		<div class="tab-pane fade" id="warntype" style="width:400px;height:400px;padding-top:15px;"></div>
		<div class="tab-pane fade" id="warnlevel" style="width:400px;height:400px;padding-top:15px;"></div>
	</div>
</div>
<script type="text/javascript" src="/static/js/tjwarn.js"></script>
{% endblock %}
</body>
</html>
